@media screen and (max-width: 700px) {
	.imagenes {
		display: none;
	}
	.regulaciones {
		display: flex;
		flex-wrap: wrap;
	}
	.cobertura,
	.viajar_seguro {
		display: flex;
		flex-direction: column !important;
		padding: 0 20px 0 20px;
	}
	.text_cobertura {
		font-size: 16px !important;
		width: 100% !important;
	}
}
